@model TrumpTown.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ul>
            <li class="field">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "text input" , @placeholder = "Current password"})
            </li>
            <li class="field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "text input" , @placeholder = "New password"})
            </li>
            <li class="field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text input" , @placeholder = "Confirm new password"})
            </li>
        </ul>
        <input type="submit" value="Change password" />
    </fieldset>
}
